*.o
*~
.deps
.libs
aclocal.m4
autom4te.cache
autoregen.sh
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gnonlin-[0-9]*
gnonlin-config
gnonlin.pc
gnonlin.spec
gnonlin-uninstalled.pc
install-sh
libtool
ltconfig
ltmain.sh
Makefile
Makefile.in
missing
stamp-h
stamp-h1
stamp-h.in
ABOUT-NLS
_stdint.h
compile
config.rpath
mkinstalldirs

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

